@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.body{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}
nav ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    height: 10vh;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 145vh;
    /* width: 200vw; */
    background-color: black;
    color: azure;
    display: flex;
    margin: 23px auto;
    width:72%;
    border-radius: 12px;
    padding: 34px;
    background-image: url(/Image/b1.jpg);
    /* background-color: black; */
    background-repeat:no-repeat;
    background-position: right;
    /* background-position: 120%; */
    /* background: local; */
}
.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.songItemContainer{
    margin-top:34px
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    /* width: 80%; */
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}
.icons{
    margin-top: 20px;
}
.icons i{
    cursor: pointer;
}
.timestamp{
   margin: 25px;
   /* margin-right: 2px; */
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
    color: aliceblue;
}
.songInfo img{
   opacity: 0;
   transition: opacity 1s ease-in;
}